*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#000;

overflow:hidden;

font-family:Montserrat,sans-serif;

}

#loading{

width:100vw;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#000;

}

#logo{

font-size:5rem;

font-weight:900;

letter-spacing:10px;

color:#7a0000;

opacity:0;

text-shadow:

0 0 10px #c40000,

0 0 25px #ff0000,

0 0 60px #ff0000;

animation:

logoReveal 4s forwards;

}

@keyframes logoReveal{

0%{

opacity:0;

transform:scale(.85);

}

40%{

opacity:1;

transform:scale(1);

}

70%{

opacity:1;

}

100%{

opacity:0;

transform:scale(1.08);

}

}

@media(max-width:768px){

#logo{

font-size:2.8rem;

letter-spacing:4px;

}

}
/* ===========================================
   PROFILES PAGE
=========================================== */

.profiles{

height:100vh;

background:#141414;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-family:Montserrat,sans-serif;

color:white;

}

.profiles h1{

font-size:3rem;

margin-bottom:70px;

font-weight:500;

}

.profile-container{

display:flex;

gap:80px;

}

.profile{

cursor:pointer;

text-align:center;

transition:.3s;

}

.profile:hover{

transform:scale(1.08);

}

.avatar{

width:170px;

height:170px;

border-radius:12px;

display:flex;

justify-content:center;

align-items:center;

font-size:70px;

transition:.3s;

}

.pink{

background:#ff4fa3;

}

.blue{

background:#4f8bff;

}

.profile p{

margin-top:18px;

font-size:1.3rem;

}

#toast{

position:fixed;

bottom:40px;

left:50%;

transform:translateX(-50%);

background:#222;

padding:15px 25px;

border-radius:8px;

color:white;

opacity:0;

transition:.4s;

pointer-events:none;

}

#toast.show{

opacity:1;

}
.profilePic{

width:170px;
height:170px;

object-fit:cover;

border-radius:50%;

border:4px solid transparent;

transition:.35s;

box-shadow:0 0 25px rgba(255,255,255,.08);

}

.profile:hover .profilePic{

transform:scale(1.08);

border-color:white;

box-shadow:0 0 35px rgba(255,255,255,.45);

}
